<header class="page-header">
	<nav class="nav-container shadow">
		<div class="nav-inner">
			<a class="nav-brand link" href="{{ url_for('page_home') }}">
				<img class="nav-logo" src="{{ url_for('static', filename='favicon.svg') }}">
				<h1 class="nav-title">{{ site_title }}</h1>
			</a>
			<div class="nav-content">
				<div class="nav-section">
					<a href="#" class="nav-link link active">Current</a>
					<a href="#" class="nav-link link">Other 1</a>
					<a href="#" class="nav-link link">Other 2</a>
					<a href="#" class="nav-link link">Other 3</a>
				</div>
				<div class="nav-section">
					<form class="d-flex" role="search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search..." aria-label="Search">
							<button class="btn btn-primary" type="submit" id="searchButton"><i class="fa-solid fa-magnifying-glass"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</nav>
</header>
