[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
aiosqlite = "*"
ffmpeg-python = "*"
argon2-cffi = "*"
quart-auth = "*"

[dev-packages]

[requires]
python_version = "3.10"
