{% extends "layouts/sidebar_left.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
<h2 class="section-header section-title">Grid Title</h2>
<div class="section-content tile-grid">
	{% set media_items=all_media %}
	{% include "features/media_tiles.html" %}
</div>
{% endblock %}

{% block sidebar_content %}
<div class="section-content bubble-block link-list shadow">
	<a class="link-item" href="#">Destination 1</a>
	<a class="link-item" href="#">Destination 2</a>
	<a class="link-item" href="#">Destination 3</a>
</div>
{% endblock %}
