{% extends "layouts/sidebar_left.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
<div class="section-header">Grid Title</div>
<div class="section-content tile-grid">
	{% for media in all_media %}
		{% set media_url=url_for('page_view', media_id=uuid_to_b64(media.id)) %}
		<div class="tile">
			<div class="tile-thumb-wrapper">
				<span class="tile-thumb">
					<a href="{{ media_url }}">
						<img src="{{ url_for('files_thumbs', media_id=media.id) }}" alt="Thumbnail for {{ media.title }}">
					</a>
					<div class="bubble-overlay">
						{% if media.duration != None %}
							<span>{{ format_duration(media.duration) }}</span>
						{% endif %}
					</div>
				</span>
			</div>
			<div class="tile-title">
				<a href="{{ media_url }}">{{ media.title }}</a>
			</div>
			<div class="tile-details">
				<div>
					<a href="{{ media_url }}">{{ media.title }}</a>
				</div>
				<div>
					<a href="{{ media_url }}">{{ media.title }}</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}

{% block sidebar_content %}
<div class="section-content bubble-block link-list shadow">
	<a href="#" class="">Destination 1</a>
	<a href="#" class="">Destination 2</a>
	<a href="#" class="">Destination 3</a>
</div>
{% endblock %}
