{% extends "layouts/sidebar_right.html" %}

{% block title %}{{ media.title }}{% endblock %}

{% block page_content %}
<div class="section-content">
	<div class="stage ratio ratio-16x9">
		<!-- https://codepen.io/heff/pen/DyoMvJ -->
		<video class="stage-content ratio-inner" poster="{{ url_for('files_thumbs', media_id=media.id) }}" controls>
			<source src="{{ url_for('files_media', media_id=media.id) }}" type="video/mp4">
		Your browser does not support the video tag.
		</video> 
	</div>
</div>
<div class="section-header">
	<h1>{{ media.title }}</h1>
	<div class="stage-info">
		<div class="media-publisher field-lg">
			<div class="d-flex flex-align-center">
				<img class="profile-icon" src="{{ url_for('static', filename='assets/icons/default-avatar.svg') }}">
				<div class="profile-info">
					<h4 class="profile-title">
						<a class="link" href="#">Person McExampleson</a>
					</h4>
					<div class="profile-details">100 subscribbles</div>
				</div>
			</div>
		</div>
		<div class="media-actions field-lg">
			<span class="button-group shadow">
				<button class="button button-dark"><i class="fa-regular fa-fw fa-thumbs-up"></i></button>
				<button class="button button-dark"><i class="fa-regular fa-fw fa-thumbs-down"></i></button>
			</span>
			<button class="button button-dark shadow"><i class="fa-regular fa-star"></i> Favorite</button>
			<button class="button button-dark shadow"><i class="fa-solid fa-download"></i> Download</button>
		</div>
	</div>
</div>
<div class="section-content">
	<div class="field-lg">
		<h4>Description</h4>
		<div class="field-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
	</div>
	<div class="field-lg">
		<h4>Tags</h4>
		<div class="field-md">
			<button class="button button-sm button-dark shadow">Nature</button>
			<button class="button button-sm button-dark shadow">Oceans</button>
			<!-- <input type="text" class="button button-sm button-dark shadow"> -->
			<button class="button button-sm button-dark shadow"><i class="fa-solid fa-fw fa-plus"></i></button>
		</div>
	</div>
</div>
{% endblock %}

{% block sidebar_content %}
<h2 class="section-header section-title">Sidebar</h2>
<div class="section-content">
</div>
{% endblock %}
