{% set fontawesome_version='6.4.2' %}

{% set site_title='Test Site' %}

{% set github_url='https://github.com/cm-360/MovableQ' %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<title>{% block title %}{% endblock %} - {{ site_title }}</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}">
	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ fontawesome_version }}/css/all.min.css">
	<!-- Custom Styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
	{% include "features/header.html" %}
	<main>
		{% block content %}{% endblock %}
	</main>
	{% include "features/footer.html" %}
</body>
</html>
